<div class="container mt-5">
    <h2>Выберите дни недели для тренировок</h2>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Понедельник</h5>
            <p class="card-text">Выберите для тренировок в понедельник.</p>
            <button class="btn btn-primary">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Среда</h5>
            <p class="card-text">Выберите для тренировок в среду.</p>
            <button class="btn btn-primary">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Пятница</h5>
            <p class="card-text">Выберите для тренировок в пятницу.</p>
            <button class="btn btn-primary">Выбрать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
